# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/

# Production
/build

# Debug & Process logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env*.local
.env
.env.production
.env.staging

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# OS Metadata
.DS_Store
*.pem
Thumbs.db
ehthumbs.db

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Scratch files
scratch/
*.log
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
